.w-100{
    width: 100px;
}
.pointer {
    cursor: pointer;
}

.coret{
    text-decoration: line-through;
}

.textError {
    border-color: #ed5565 !important;
}

.text-bold {
    font-weight: bold;
}

.ng-table thead tr th {
    text-align: left;
}

.table-reponsive {
    border-style: none;
}

.hover-blue:hover {
    color: blue;
}

.hover-red:hover {
    color: red;
}

.hover-navy:hover {
    color: #008a8a;
}

/* Drop Zone */
.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

.another-file-over-class {
    border: dotted 3px green;
}

.p-0{
    padding: 0px !important;
}

.no-border{
    border: none !important;
}
.no-border-text{
    border-radius: 0;
    border-color: transparent !important;
    /*border-bottom-style: dotted !important;
    border-bottom-color: grey !important; */
}

.cell-input{
    padding: 0px !important;
}